// Custom Variables
$primary-color: #fff;
$secondary-color: #111111;
$warning-color: tomato;

$sidebar-text-color: #fff;
$sidebar-background-color: #00bcd4;
$sidebar-left-border-color: #f9f9f9;
$sidebar-right-border-color: #00bcd4;

// Bootstrap Variables
$navbar-border-radius: 0;
